{% extends 'base.html' %}

{% block content %}
    <section class="login-section">
        <h2 class="login-title">Login</h2>
        <form class="login-form" method="post" action="{% url 'login' %}">

            {{ form.username.label }}
            {{ form.username }}
            {{ form.password.label }}
            {{ form.password }}
            {% if form.non_field_errors %}
                <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% csrf_token %}

            <button type="submit" class="login-button">Login</button>

            <p class="login-register-text">Don't have an account?<br><a href="{% url 'register' %}"
                                                                        class="login-register-link">Register here</a>
            </p>
        </form>
    </section>
{% endblock %}