{% extends 'base.html' %}

{% block content %}
    <section class="login-section">
    <h2 class="login-title">Login</h2>
    <form class="login-form" method="post" action="{% url 'login' %}">

        {{ form.username.label }}
        {{ form.username }}
        {{ form.password.label }}
        {{ form.password }}
        {% csrf_token %}

        <input type="submit" value="Login" class="login-button">

        <p class="login-register-text">Don't have an account?<br><a href="{% url 'register' %}" class="login-register-link">Register here</a></p>
    </form>
</section>
{% endblock %}