{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="card">
  <div class="banner">
      {% if object.profile.image_url %}
          <img src="{{ object.profile.image_url }}" alt="">
          {% else %}
      <img src="{% static 'images/female-user.png' %}" alt="">
      {% endif %}
  </div>
  <div class="menu">
    <div class="opener"><span></span><span></span><span></span></div>
  </div>
  <h2 class="name">{{ user.username }}</h2>
  <div class="title">{{ user.profile.get_full_name }}</div>
  <div class="actions">
    <div class="follow-info">
      <h2><a href="#"><span>12</span><small>Pets Adopted</small></a></h2>
      <h2><a href="#"><span>1000</span><small>Pet Listings</small></a></h2>
    </div>
    <div class="follow-btn">
      <button>Follow</button>
    </div>
  </div>
  <div class="desc">{{ user.profile.description }}</div>
</div>
{% endblock %}


