{% extends 'base.html' %}

{% block content %}
    <div class="add-pet-section">
        <form class="create-pet-form" method="POST" action="{% url 'pet_add' %}" enctype="multipart/form-data">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.town.label_tag }}
            {{ form.town }}
            {{ form.pet_category.label_tag }}
            {{ form.pet_category }}
            {{ form.gender.label_tag }}
            {{ form.gender }}
            {{ form.age.label_tag }}
            {{ form.age }}

            {{ form.image.label_tag }}
            <label for="id_image" class="custom-file-upload">
                Upload Image <i class="fa fa-cloud-upload"></i>
                {{ form.image }}
            </label>

            <span id="file-name-placeholder"></span>


            {{ form.contact_number.label_tag }}
            {{ form.contact_number }}
            {{ form.description.label_tag }}
            {{ form.description }}
            {% csrf_token %}
            <div class="button-container">
                <button type="submit">Add Pet</button>
            </div>
        </form>

    </div>

    {% block scripts %}
        <script>
            document.getElementById("id_image").addEventListener("change", function () {
                const fileInput = this;
                const fileNamePlaceholder = document.getElementById("file-name-placeholder");

                if (fileInput.files.length > 0) {
                    fileNamePlaceholder.textContent = fileInput.files[0].name;
                    fileNamePlaceholder.classList.add('file-name-container-text')
                } else {
                    fileNamePlaceholder.textContent = "Upload Image";
                    fileNamePlaceholder.classList.remove('file-name-container-text')
                }
            });
        </script>
    {% endblock %}




{% endblock %}