<div class="product-container">



<!--       First Product -->

      <div class="card">
        <div class="content">

          <div class="new">
            <img src="https://cdn.glitch.com/9cf36649-4cc8-43b3-936f-9f591ad3040c%2Fnew.png?v=1586849341161">

          </div>



        <div class="title">Headphone</div>
        <div class="image">
          <img
            src="https://cdn.glitch.com/5f8445e6-7cb3-47ef-8b81-884235184212%2Fphoto-1505740420928-5e560c06d30e.jpeg?v=1585724732029"
          />
        </div>
        <div class="text">
          This is a headphone. It has noise cancelling properties.
        </div>
         </div>
          <button  class="buy-button details">
            Buy Now
          </button>

      </div>