@import './home.css';
@import './register-login.css';
@import './petFunctions.css';
@import './profile-details.css';


main {
    min-height: 71vh;
}




.contact-info-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.page-footer {
    background: #40403e !important;
    margin: 0;
    padding: 0;
}

.page-footer * {
    color: #FFFFFF;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
input[type="number"]:focus-visible,
select:focus-visible,
textarea:focus-visible{
    border: 2px solid rgb(241, 133, 10, 0.6);
    outline: none;
}

input[type="text"]:hover,
input[type="password"]:hover {
    border-color: rgb(241, 133, 10, 0.6) ;

}

