{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>PawPrints</title>
    <link rel="stylesheet" href='{% static "/css/styles.css" %}'>
    {% block styles %}{% endblock %}
    <title>PawPrints</title>
</head>

<body>
<header>
    <nav>
        <div class="container">
            <div class="logo">
                <h2 class="logo-title">Paw</h2>
                <a href="{% url 'home' %}">
                    <img width="50px" src='{% static "/images/paw-print-seal.png" %}' alt="logo-image">
                </a>
                <h2 class="logo-title">Prints</h2>
            </div>

            <!-- Add a common class to all anchor link buttons -->
            <ul class="nav-links">
                <li class="nav-item"><a href="{% url 'pet_list' %}" class="nav-button"><i>Adopt</i></a></li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'pet_add' %}" class="nav-button"><i>Add Pet</i></a></li>
                    <li class="nav-item"><a href="{% url 'account details' user.pk %}" class="nav-button"><i>Profile</i></a>
                    </li>
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-button"><i>Logout</i></a></li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-button"><i>Login</i></a></li>
                    <li class="nav-item"><a href="{% url 'register' %}" class="nav-button"><i>Register</i></a></li>
                {% endif %}
            </ul>


            <script>
                const currentPath = window.location.pathname;

                const urlsToHighlight = ['/pets/create/', '/pets/', '/accounts/login/', '/accounts/register/', '/accounts/profile/'];

                const navButtons = document.querySelectorAll('.nav-button');
                for (const button of navButtons) {
                    if (urlsToHighlight.includes(currentPath) || currentPath.startsWith('/accounts/profile/')) {
                        if (button.getAttribute('href') === currentPath) {
                            button.classList.add('selected-button');
                            break;
                        }
                    }
                }
            </script>


        </div>
    </nav>
</header>

<main>
    {% block content %}

    {% endblock %}
</main>

<footer class="text-center text-lg-start bg-light text-muted page-footer">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="https://www.facebook.com/profile.php?id=100010849419266" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://bg.linkedin.com/in/tsvetan-eftenov-249b97281" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/eftenow/PawPrints_app" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Paw Prints
                    </h6>
                    <p>
                        Find Your Furry Friend at Paw Prints<br>
                        Where Pet Dreams Come True!<br>
                        Adopt, Love, Repeat.<br>
                        Discover Your New Best Friend Today!
                    </p>

                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 contact-info-footer">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Veliko Tarnovo, Bulgaria</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        tsvetan.eftenov@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 359 88 42 92 389</p>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>

    <div class="text-center p-4 bottom-container" style="background-color: rgba(0, 0, 0, 0.25);">
        <p class="bottom-text">&copy; 2023 PawPrints. All rights reserved.</p>
    </div>
</footer>


{% block scripts %}

{% endblock %}
</body>
</html>